.sidebar {
  flex: 0.3;
  background-color: var(--slack-color);
  border-top: 1px gray solid;
  color: white;
}

.sidebar__option {
  overflow-y: scroll;
  height: 80%;
}

.sidebar__header {
  display: flex;
  padding: 15px;
  padding-bottom: 10px;
  border-bottom: 1px gray solid;
}

.sidebar__info {
  float: 1;
}

.sidebar__info > h2 {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
}

.sidebar__info > h3 {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
}

.sidebar__info > h3 > .fiber__icon {
  font-size: 13px;
  color: green;
  margin-right: 2px;
}

.sidebar__header > .MuiSvgIcon-root {
  font-size: 18px;
  padding: 8px;
  color: var(--header-search);
  background: white;
  border-radius: 50%;
  margin-left: auto;
}

.sidebar__option > hr {
  margin: 10px 0;
  border: 1px #49274b solid;
}
